/*  =================================
    Dataset Exploration / exploration.css 
    ================================= */


#content-exploration{
    padding: 0px 24px 40px;
    display: flex;
    flex-direction: column;
}

.page-header{
    width: 100%;
}

#exploration-main-content{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 40px;
    
}

.exploration-container{
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.exploration-container aside{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: fit-content;
    background-color: var(--cards);
    padding: 16px;
    border-radius: 24px;
    gap: 6px;
    box-sizing: border-box;
}

.header-w-info{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
}

.header-w-info sl-icon-button::part(base){
    font-size: 11px;
    color: var(--text-secondary)
}

.header-w-info sl-icon-button::part(base):hover{
    color: var(--text-header-label-light);
}

#gene-expression-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



sl-divider{
    margin: 8px;
}

#info-study-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#info-study-header p{
    width: fit-content;
}

#info-study-header sl-icon-button::part(base){
    font-size: var(--sl-font-size-small);
}


#info-study{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Courier New', Courier, monospace;
}

.exploration-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    
}

.category-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
}



.graph-card{
    width: 49.5%;
    min-height: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--cards);
    border-radius: 24px;
    padding: 16px;
    box-sizing: border-box;
}

.graph-card.double{
    width: 100%;
    gap: 6px;
}

.options-config{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
