/*  =================================
    Dataset Exploration / exploration.css 
    ================================= */


#content-exploration{
    padding: 0px 24px 40px;
    display: flex;
    flex-direction: column;
}

.exploration-container{
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.exploration-container main{
    height: 100%;
    gap: 1.5rem;
}

.exploration-container .category-header{
    color: var(--col3);
}

.exploration-container aside{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: fit-content;
    background-color: var(--cards);
    padding: min(1em, 4%);
    overflow-wrap: break-word;
    border-radius: 24px;
    gap: 6px;
    box-sizing: border-box;
}

.header-w-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.header-w-info sl-icon-button::part(base){
    font-size: 11px;
    color: var(--text-secondary)
}

.header-w-info sl-icon-button::part(base):hover{
    color: var(--text-header-label-light);
}

.custom-threshold-container{
    display: none;
    flex-direction: column;
}



#gene-expression-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


sl-divider{
    margin: 8px;
}

#info-study-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#info-study-header p{
    width: fit-content;
}

#info-study-header sl-icon-button::part(base){
    font-size: var(--sl-font-size-small);
}


#info-study{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Courier New', Courier, monospace;
}

/* .citation-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-top: 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #D4D4D8;
    padding: 8px;
} 
*/


.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
    align-items: stretch;
}




.graph-card{
    flex: 1 1 49.5%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    background-color: var(--cards);
    border-radius: 24px;
    padding: 16px;
    box-sizing: border-box;
    gap: 10px;
    
}

.genome-container{
    flex: 1 1 49.5%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.genome-container a{
    align-self: flex-end;
}

.graph-card.double{
    width: 100%;
    gap: 6px;
}

#phage-heatmap-container{
    margin-top: auto;
}

.options-config{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.number-input-field-slider::part(form-control-label){
    color: var(--text-secondary);
    font-size: var(--sl-font-size-x-small);
    width: 100px;
}

.number-input-field-slider::part(input){
    font-size: var(--sl-font-size-x-small);
}


.double-range-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0px auto;
}

.slider{
    position: relative;
    min-height: 20px;
}

.form-control-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.number-input-field-slider{
    width: min-content;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: auto;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 0 0 1px #C6C6C6;
 
}
  
input[type=range]::-moz-range-thumb {
pointer-events: auto;
width: 12px;
height: 12px;
background-color: #fff;
border-radius: 24px;
}

input[type=range]::-webkit-slider-thumb:hover {
background: #f7f7f7;
}


input[type="range"] {
-webkit-appearance: none; 
appearance: none;
height: 3px;
width: 100%;
position: absolute;
background-color: #C6C6C6;
pointer-events: none;
top: 50%;
transform: translateY(-50%);
}
  
  
#left-slider-hosts, #left-slider-phages {
height: 0;
z-index: 1;
}


sl-input::part(form-control-label){
    color: var(--text-secondary);
    font-size: var(--sl-font-size-x-small);
}

#early-select::part(form-control-label){
    color: var(--early);
}

#middle-select::part(form-control-label){
    color: var(--middle);
}

#late-select::part(form-control-label){
    color: var(--late);
}

/* sl-option:disabled::part(base) {
    color: purple !important;
    opacity: 0.5;
    background-color: palevioletred;
} */

#higlass-wrapper.higlass-wrapper{
    background: rgba(0, 0, 0, 0) !important;
}

.gosling-component{
    background: rgba(0, 0, 0, 0) !important;
}

#show-classification-checkbox{
    padding-left: 15%;
}

#explore-genome-button{
    padding-left: 8%;
}