/*  =================================
    Dataset Exploration / exploration.css 
    ================================= */


#content-exploration{
    padding: 0px 24px 40px;
    display: flex;
    flex-direction: column;
}

.exploration-container{
    display: flex;
    flex-direction: row;
    gap: 3%;
}

#gene-selection{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.exploration-container main{
    height: 100%;
    gap: 1.5rem;
}

.exploration-container .category-header{
    color: var(--col3);
}

.exploration-container aside{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: fit-content;
    background-color: var(--cards);
    padding: min(1em, 4%);
    overflow-wrap: break-word;
    border-radius: 24px;
    gap: 6px;
    box-sizing: border-box;
}

.header-w-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.header-w-info sl-icon-button::part(base){
    font-size: 0.75rem;
    color: var(--text-secondary)
}

.header-w-info sl-icon-button::part(base):hover{
    color: var(--text-header-label-light);
}

.custom-threshold-container{
    display: none;
    flex-direction: column;
}



#gene-expression-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


sl-divider{
    margin: 8px;
}

#info-study-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#info-study-header p{
    width: fit-content;
}


#info-study{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Courier New', Courier, monospace;
}


.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
    align-items: stretch;
}




.graph-card{
    flex: 1 1 49.5%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    background-color: var(--cards);
    border-radius: 24px;
    padding: 16px;
    box-sizing: border-box;
    gap: 10px;
    
}


/* .genome-container{
    flex: 1 1 49%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    max-width: 49%;
} */

.genome-container{
    
    min-height: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#phage-genome-container .header-w-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#phage-genome-container .genome-header-wrapper{
    display: flex;
    flex-direction: row;
}

.genome-container a{
    align-self: flex-end;
}

.graph-card.double{
    width: 100%;
    gap: 6px;
}

/* #phage-heatmap-container{
    margin-top: auto;
} */

.options-config{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 0.6rem
}

.options-config sl-button{
    width: 47%;
}

#content-exploration sl-button sl-icon{
    font-size: 1rem;
}



.number-input-field-slider::part(form-control-label){
    color: var(--text-secondary);
    font-size: var(--sl-font-size-x-small);
    width: 100px;
}

.number-input-field-slider::part(input){
    font-size: var(--sl-font-size-x-small);
}


.double-range-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0px auto;
}

.slider{
    position: relative;
    min-height: 20px;
}

.form-control-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.number-input-field-slider{
    width: min-content;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: auto;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 0 0 1px #C6C6C6;
 
}
  
input[type=range]::-moz-range-thumb {
pointer-events: auto;
width: 12px;
height: 12px;
background-color: #fff;
border-radius: 24px;
}

input[type=range]::-webkit-slider-thumb:hover {
background: #f7f7f7;
}


input[type="range"] {
-webkit-appearance: none; 
appearance: none;
height: 3px;
width: 100%;
position: absolute;
background-color: #C6C6C6;
pointer-events: none;
top: 50%;
transform: translateY(-50%);
}
  
  
#left-slider-hosts, #left-slider-phages {
height: 0;
z-index: 1;
}

.graph-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-message{
    color: #3b3b3b;
    /* background-color: #bd222520; */
    border:  1px solid #bd2225;
    border-radius: 24px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.3rem 1.3rem;
    margin: 80px 2rem 0 2rem;
    gap: 20px;
}

.error-message p{
    font-size: 0.8rem;
}

.error-message sl-icon{
    color: #bd2225;
    font-size: 2rem;
}

aside .error-message{
    margin: 5px;
    
}

#warning-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000000;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #4a49497b;
}

.warning{
    display: flex;
    flex-direction: column;
    width: 40%;
    background: white;
    padding: 2rem;
    border-radius: 24px;
    gap: 1rem;
}

.warning sl-icon-button{
    justify-self: flex-end;
    align-self: flex-end;
}

.warning sl-icon-button::part(base){
    font-size: 2.25rem;
}

.warning svg{
    width: 60%;
    height: auto;
    align-self: center;
}

.warning p{
    font-size: 1.5rem;
    text-align: center;
    padding: 0 1rem;
    margin-top: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:300;
}

sl-input::part(form-control-label){
    color: var(--text-secondary);
    font-size: var(--sl-font-size-x-small);
}

#early-select::part(form-control-label){
    color: var(--early);
}

#middle-select::part(form-control-label){
    color: var(--middle);
}

#late-select::part(form-control-label){
    color: var(--late);
}

#higlass-wrapper.higlass-wrapper{
    background: rgba(0, 0, 0, 0) !important;
}

.gosling-component{
    background: rgba(0, 0, 0, 0) !important;
}


@media screen and (min-width: 2560px){
    
    #content-exploration{
        padding-top: 2rem;
    }
}