/*  =================================
    Help & Info / help.css 
    ================================= */

#content-help{
    padding: 2rem 2rem;
}

#help-main-content{
    gap: 2rem;

}

@media screen and (min-width: 2560px){
    
    #content-help{
        padding: 2rem 3rem;
        gap: 3rem;
    }

    .page-header{
        top: 90px;
        padding: 1rem 0;
    }
    
}