/*  =================================
    Help & Info / help.css 
    ================================= */

#content-help{
    padding: 2rem 2rem;
}

#content-help img{
    cursor: zoom-in;
}

#help-main-content{
    gap: 2rem;

}

.heading-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    color: var(--col3);
    font-size: 1.2rem;
}

.heading-wrapper svg{
    width: 1.25rem;
    height: 1.25rem;
}

.heading-wrapper svg path{
    fill: var(--col3);
}

.column-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2%;
}

/* .column-wrapper img{
    width: 30%;
    border: 0.6px solid var(--slider-gray);
    border-radius: 24px;
} */

.text-wrapper{
    width: 70%
}

.img-wrapper{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#heatmap-video-wrapper{
    width: 30%;
}

sl-carousel{
    max-width: 35%;
    --aspect-ratio: 3/2;
    height: auto;
}

sl-carousel::part(pagination-item){
    width: 0.6rem;
    height: 0.6rem;
}

sl-carousel video{
    width: 92%;
}

sl-carousel img{
    object-fit: contain;
}


sl-carousel-item p{
    font-size: 0.7rem;
}





#content-help svg{
    width: 1.3rem;
    height: 1.3rem;
    vertical-align: bottom;
}

#content-help svg path{
    fill: var(--col3);
}

#content-help svg.gene-viz path{
    fill: #DA8439;
}

#content-help svg.black path{
    fill: var(--text-primary-light);
}

.rectangle{
    height: 0.9rem;
    width: 1.7rem;
    border-radius: 4px;
    display: inline-block
}

.black{
    color: var(--text-primary-light);
}

.col3{
    color: var(--col3);
}


.light-gray{
    color: rgba(68, 68, 68, 0.3);;
}

.dark-gray{
    color: var(--sl-color-neutral-600);
}

.rectangle.col3{
    background-color: var(--col3);
}

.rectangle.col5{
    background-color: var(--col5);
}

.legend-entry{
    display: inline-flex;
    align-items: center;
    gap: 3px;
    font-size: 0.75rem;
}

.slide-reference{
    display: inline-block;
    color: var(--col3);
    cursor: pointer;
    transition: transform 0.1s ease;
}

.slide-reference:hover{
    color: var(--col5);
}

.slide-reference:active{
    transform: scale(0.97);
}

.popup-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.img-viewer{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    background-color: var(--col4-lowOp-but-not-transparent);
    padding: 0 1rem 1rem 1rem;
    border-radius: 24px;
    align-items: end;
}

.img-viewer sl-icon-button::part(base) {
    font-size: 1.5rem;
    
}

.big-img{
    width: 100%;
    border-radius: 8px;
}





@media screen and (min-width: 2560px){
    
    #content-help{
        padding: 2rem 3rem;
        gap: 3rem;
    }

    .page-header{
        top: 90px;
        padding: 1rem 0;
        width: 40vw;
    }
    
}

@media screen and (max-width: 770px){
    
    .column-wrapper{
        flex-direction: column;
    }

    sl-carousel {
        max-width: 100%;
    }

    .text-wrapper {
        width: 100%;
    }

    .img-wrapper{
        width: 80%;
        align-self: center;
    }

    #heatmap-video-wrapper {
        width: 60%;
    }

    
}
