
/*  ===========================
    Main HTMl file / index.html
    =========================== */ 

/* Global Variables */
:root{
    --background: #F9F9F9;
    --cards: #FFFFFF;
    --seperator: #F1EEEE;
    --col1: #20302A;
    --col2: #29473C;
    --col3: #345e4f;
    --col4: #427664;
    --col5: #538E79;
    --col6: #69A790;
    --col7: #84bfa9;
    --col8: #A7D6C4;
    --col9: #d5ebe2;
    --early: #beab8e;
    --middle: #869f89 ;
    --late: hsl(34, 21%, 30%);
    --col4-lowOp: rgb(66, 118, 100, 0.2);
    --col4-lowOp-but-not-transparent: #D4DFDB;
    --text-primary-light: #1a1a1a;
    --text-header-label-light: #343434;
    --text-secondary: #515151;
    --text-disabled-inactive: #707070;
    --text-border-seperator: #909090;
    --text-inactive: #b2b2b2;
    --text-backgroundtable-placeholder: #d5d5d5;
    --button-hover: #f9f9f9;
    --button-active: #f5f5f5;
    --sl-font-size-medium: 1.05rem !important;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
     /* padding to adjust fixed navbvar when using anchor scrolling  */
}  


body {
    font-family: var(--sl-font-sans);
    color: var(--text-primary-light);
    margin: 0;
    padding: 0;
    color: var(--text-primary-light);
    background-color: var(--background);
    
}

.main-content{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 40px;
}

main{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}


/* Typography */
h1{
    margin: 0;
}

h2{
    margin: 0;
}

h3{
    
    margin: 0;
}

h4{
    margin: 0;
}

h5{
    margin: 0;
}

.display-1{
    font-size: var(--sl-font-size-4x-large);
}

.display-2{
    font-size: var(--sl-font-size-3x-large);
}

.display-3{
    font-size: var(--sl-font-size-2x-large);
}




p{
    font-size: var(--sl-font-size-medium);
    margin: 0;
}

.small-p{
    font-size: var(--sl-font-size-small);
}

.chart-info{
    font-size: var(--sl-font-size-small);
    color: var(--text-disabled-inactive);
}

.large-p{
    font-size: var(--sl-font-size-large);
}

.bold{
    font-weight: bold;
}

.text-block{
    text-align:justify;
    text-align-last: center;
}


/* Components */

a{
    color: var(--col3);
}

a:hover{
    color: var(--col5);
}

a:active{
    transform: scale(0.99);
}

.spinner{
    font-size: 1.5rem;
    --track-width: 4px;
    --indicator-color: var(--col3);
}

.spinner-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Shoelace's Icon Buttons */
sl-icon-button::part(base){
    color: var(--col3);
    font-size: 22px;
}

sl-icon-button::part(base):hover{
    color: var(--col5);
}

sl-icon-button::part(base):active{
    font-size: 21px;
}

/* Shoelace's Buttons */
sl-button::part(base){
    color: var(--col3);
    background-color: var(--cards);
    border-color: var(--col3);
    border-radius: 24px;
}

sl-button::part(base):hover{
    border-color: var(--col3);
    background-color: var(--button-hover);
    color: var(--col3);
}

sl-button::part(base):active{
    background-color: var(--button-active);
    color: var(--col3);
    transform: scale(0.98);
}

.select-deselect-buttons::part(base){
    font-size: x-small;
    margin: .2px;
}

/* Link Buttons that open Popup */
.link-button::part(base){
    background-color: transparent;
    border-color: transparent;
    color: var(--col3);
}

.link-button::part(base):hover{
    background-color: transparent;
    border-color: transparent;
    color: var(--col5);
}

/* Shoelace's Select */
sl-select::part(combobox){
    --sl-input-border-color-focus: var(--col5);
    --sl-input-focus-ring-color: var(--col4-lowOp);
}



sl-select::part(form-control-label){
    color: var(--text-secondary);
    font-size: var(--sl-font-size-x-small);
}


sl-select::part(tag__content){
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

sl-select::part(listbox){
    max-height: 250px;
}

sl-option::part(label){
    font-size: small;

}

sl-option[aria-selected="true"]::part(base) {
    background: var(--col5);
    color: white;
}

sl-option[aria-selected="false"]::part(base) {
    background: var(--cards);
    color: var(--text-primary-light);
}

sl-option[aria-selected="false"]::part(base):hover {
    background: var(--button-active);
    color: var(--text-primary-light);
}



/* Shoelace's Radio Buttons / Radio Buttons Group */
sl-radio-group svg{
    width: 14px;
    height: 14px;
}

sl-radio-group::part(form-control-label){
    color: var(--text-secondary);
}


sl-radio-button path{
    fill: var(--col3);
}



sl-radio-button::part(button):hover {
    background-color: var(--col6); 
    border-color: #D4D4D8;
}


sl-radio-button::part(button):active {
    background-color: var(--col5 ); 
    border-color: #D4D4D8;
}

sl-radio-button::part(button--checked) {
    background-color: var(--col6); 
    border-color: #D4D4D8;
}


/* Shoelace's Tooltip */
sl-tooltip{
    --sl-tooltip-background-color: var(--col5);
}

/* Shoelace's copy button */
sl-copy-button::part(button){
    font-size: var(--sl-font-size-small);
    background-color: var(--col4-lowOp-but-not-transparent);

}



/* -------   Navigation bar ---------*/
nav{
    /* layout */
    display: flex;
    width: 100%;
    height: 64px;
    padding: 12px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    
    
    /* keep navigation bar fixed at the top */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    
    /* colors */
    color: var(--text-primary-light);
    background-color: var(--cards);
}

/*  logo  */

.logo{
    display: flex;
    align-items: center;
    color: var(--text-primary-light);
    font-size: clamp(12px, 2vw, 16px);
    width: fit-content;
}

.logo #company-label{
    min-width: fit-content;
}

.logo img{
    width: 40px;
    min-width: 25px;
    object-fit: contain;
}


/* spacing */
.spacing-vertical{
    flex-grow: 1;
    min-width: 50px;
    max-width: 40%;
}


/* page-links: takes the user to the linked page after clicking */

#page-links-container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: end;
    gap: 12px;
    padding-right: 24px;
}

.page-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--col3);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: clamp(12px, 2vw, 16px);
    width: fit-content;
    gap: 2px;
}

.page-link svg{
    width: clamp(14px, 2vw, 24px);
    height: clamp(14px, 2vw, 24px);
}

.page-link path{
    fill: var(--col3);
}

.page-link:hover{
    color: var(--col5);
}

.page-link:hover path{
    fill: var(--col5);
}

/* active link: a page-link that changes its design if its active */
.active-link path{
    fill: var(--col5);
}

.active-link{
    color: var(--col5);
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-skip-ink: auto;
}




