
/*  ===========================
    Main HTMl file / index.html
    =========================== */ 

/*#region Global Variables */
:root[data-theme="light"]{
    --background: #F9F9F9;
    --cards: #FFFFFF;
    --seperator: #F1EEEE;

    --col1: #20302A;
    --col2: #29473C;
    --col3: hsl(159, 29%, 29%);
    --col4: rgb(66, 118, 100);
    --col5: hsl(159, 26%, 44%);
    --col6: hsl(158, 26%, 53%);
    --col7: #84bfa9;
    --col8: #A7D6C4;
    --col9: #d5ebe2;

    --blue-accent: #6B7288;

    --early: #beab8e;
    /* --early: 	#778899; */
    /* --middle: #869f89 ; */
    --middle: #869f89;
    --late: #5d4f3c;

    --col4-lowOp: rgb(66, 118, 100, 0.2);
    --col5-lowOp: rgba(83, 142, 121, 0.5);
    --col4-lowOp-but-not-transparent: #D4DFDB;
    --text-primary-light: #1a1a1a;
    --text-header-label-light: #343434;
    --text-secondary: #515151;
    --text-disabled-inactive: #707070;
    --text-border-seperator: #909090;
    --button-hover: #f9f9f9;
    --button-active: #f5f5f5;
    --slider-gray: #C6C6C6;

    /* overwriting shoelace's component variables */
    --sl-font-size-medium: 1.05rem !important;
    --sl-input-border-color-focus: var(--col5) !important;
    --sl-input-focus-ring-color: var(--col4-lowOp) !important;
}

:root[data-theme = "dark"]{
    --background: #121212;
    --cards: #1E1E1E;
    --seperator: #2A2A2A;

    --col1: #A7D6C4;
    --col2: #84BFA9;
    --col3: #69A790;
    --col4: #538E79;
    --col5: #427664;
    --col6: #345E4F;
    --col7: #29473C;
    --col8: #20302A;
    --col9: #15211D;

    --early: #9E8E73;
    --middle: #6F8671;
    --late: hsl(34, 21%, 50%);

    --col4-lowOp: rgba(83, 142, 121, 0.2);
    --col4-lowOp-but-not-transparent: #2A3F38;
    --text-primary-light: #EAEAEA;
    --text-header-label-light: #CCCCCC;
    --text-secondary: #B3B3B3;
    --text-disabled-inactive: #888888;
    --text-border-seperator: #666666;
    --button-hover: #2C2C2C;
    --button-active: #383838;
    --slider-gray: #4D4D4D;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
     /* padding to adjust fixed navbvar when using anchor scrolling  */

    hyphens: auto;
    word-break: break-word;
    max-width: 100vw;
    
}  


body {
    font-family: var(--sl-font-sans);
    color: var(--text-primary-light);
    margin: 0;
    padding: 0;
    color: var(--text-primary-light);
    background-color: var(--background);
}

.main-content{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 40px;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 4%;
}


/* Typography */
h1{
    font-size: clamp(1.875rem, 5vw, 2.125rem);
    margin: 0;
}

h2{
    font-size: clamp(1.5rem, 4vw, 1.875rem);
    margin: 0;
}

h3{
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    margin: 0;
}

h4{
    font-size: clamp(1.125rem, 2vw, 1.25rem);
    margin: 0;
}

h5{
    font-size: clamp(1rem, 1vw, 1.125rem);
    margin: 0;
}


.display{
    font-size: clamp(var(--sl-font-size-x-large), 5vw, var(--sl-font-size-2x-large));
    word-break: break-word;
}




p{
    font-size: 1rem;
    margin: 0;
}

.small-p{
    font-size: var(--sl-font-size-small);
}

.chart-info{
    font-size: var(--sl-font-size-small);
    color: var(--text-disabled-inactive);
}

.large-p{
    font-size: var(--sl-font-size-large);
}

.bold{
    font-weight: bold;
}

.text-block{
    text-align:justify;
    text-align-last: center;
}

.early{
    color: var(--early);
}

.middle{
    color: var(--middle);
}

.late{
    color: var(--late);
}

.underline{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-skip-ink: auto;
}

/*#endregion  */


/* Components */

a{
    color: var(--col3);
}

a:hover{
    color: var(--col5);
}

a:active{
    transform: scale(0.99);
}

.spinner{
    font-size: 1.5rem;
    --track-width: 4px;
    --indicator-color: var(--col3);
}

.spinner-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Shoelace's Icon Buttons */
sl-icon-button::part(base){
    color: var(--col3);
    font-size: 1.15rem;
}

sl-icon-button::part(base):hover{
    color: var(--col5);
}

sl-icon-button::part(base):active{
    font-size: 1.1rem;
}

/* Shoelace's Buttons */
sl-button::part(base){
    color: var(--col3);
    background-color: var(--cards);
    border-color: var(--col3);
    border-radius: 24px;
}

sl-button::part(base):hover{
    border-color: var(--col3);
    background-color: var(--button-hover);
    color: var(--col3);
}

sl-button::part(base):active{
    background-color: var(--button-active);
    color: var(--col3);
    transform: scale(0.98);
}


.select-deselect-buttons::part(base){
    font-size: x-small;
    margin: .2px;
}

/* Link Buttons that open Popup */
.link-button::part(base){
    background-color: transparent;
    border-color: transparent;
    color: var(--col3);
}

.link-button::part(base):hover{
    background-color: transparent;
    border-color: transparent;
    color: var(--col5);
}

/* Shoelace's Select */
/* sl-select::part(combobox){
    --sl-input-border-color-focus: var(--col5);
    --sl-input-focus-ring-color: var(--col4-lowOp);
} */



sl-select::part(form-control-label), .form-control-label{
    color: var(--text-secondary);
    font-size: var(--sl-font-size-x-small);
}


sl-select::part(tag__content){
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

sl-select::part(listbox){
    max-height: 250px;
}

sl-select[type=disabled] {
    color: orange;
 
  }

sl-option::part(label){
    font-size: small;

}

sl-option[aria-selected="true"]::part(base) {
    background: var(--col5);
    color: white;
}

sl-option[aria-selected="false"]::part(base) {
    background: var(--cards);
    color: var(--text-primary-light);
}

sl-option[aria-selected="false"]::part(base):hover {
    background: var(--button-active);
    color: var(--text-primary-light);
}


/* Shoelace's Tooltip */
sl-tooltip{
    --sl-tooltip-background-color: var(--blue-accent);
}

/* Shoelace's Details */
sl-details::part(base){
    border-radius: 24px;
}

sl-details::part(summary){
    font-size: var(--sl-font-size-x-large);
    font-weight: bold;
    color: var(--col3);
}

sl-details::part(summary):hover{
    color: var(--col5);
}

sl-details::part(content){
    line-height: 22px;
    overflow-wrap: break-word;
    
}

/* Shoelace's divider */
sl-divider{
    margin: 8px;
}

/* Shoelace's copy button */
/* sl-copy-button::part(button){
    font-size: var(--sl-font-size-small);
    background-color: var(--col4-lowOp-but-not-transparent);

} */

/* Shoelace's Checkbox */


sl-checkbox::part(control--checked){
    background-color: var(--col5);
    border-color: var(--col5);
}

sl-checkbox::part(control--checked):hover{
    background-color: var(--col4);
    border-color: var(--col4);
}




/* -------   Navigation bar ---------*/
nav{
    /* layout */
    display: flex;
    height: 64px;
    padding: 12px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    
    
    /* keep navigation bar fixed at the top */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    
    /* colors */
    color: var(--text-primary-light);
    background-color: var(--cards);
}

/*  logo  */

#logo-nav{
    display: flex;
    align-items: center;
    color: var(--text-primary-light);
    font-size: clamp(12px, 2vw, 16px);
    gap: 3%;
    width: fit-content;
}

#logo-nav #company-label{
    min-width: fit-content;
}

#logo-nav img{
    width: 40px;
    min-width: 25px;
    object-fit: contain;
}

/* page-links: takes the user to the linked page after clicking */

.page-links-container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: end;
    gap: 12px;
    padding-right: 24px;
}

.page-links-container a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--col3);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: clamp(12px, 2vw, 16px);
    width: fit-content;
    gap: 2px;
}

.page-links-container a svg{
    width: clamp(14px, 2vw, 24px);
    height: clamp(14px, 2vw, 24px);
}

.page-links-container a path{
    fill: var(--col3);
}

.page-links-container a:hover{
    color: var(--col5);
}

.page-links-container a:hover path{
    fill: var(--col5);
}

/* active link: a page-link that changes its design if its active */
.page-links-container a.active-link path{
    fill: var(--col5);
}

.page-links-container a.active-link{
    color: var(--col5);
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-skip-ink: auto;
}

#mobile-menu-button, .page-links-container.mobile{
    display: none;
}

.page-header{
    width: 100%;
}

footer{
    position: inherit;
    bottom: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--cards);
}

footer #links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

footer a{
    color: var(--col3);
    font-size: 0.875rem;
}

/* spinner container */
.spinner-container{
    width: 100%;
    height: 100%;
    align-items: center;
}

/* Media */

@media screen and (min-width: 2560px){
    html{
        font-size: 26px;
    }

    nav {
        height: 90px;
    }

    #logo-nav{
        gap: 4%;
        margin-right: 20%
    }

    #company-label{
        font-size: 1.25rem;
    }

    #logo-nav img{
        width: 70px;
        min-width: 60px;
        object-fit: contain;
    }

    .page-links-container a{
        font-size: 1.25rem;
    }

    .page-links-container a svg{
        width: 1.5rem;
        height: 1.5rem;
    }

    footer a{
        font-size: 0.9rem;
    }
}



@media screen and (max-width: 910px){
    /* Hamburger Menu button */
    #mobile-menu-button{
        display: flex;

    }

    #mobile-menu-button sl-icon-button::part(base){
        font-size: 30px;
    }

    #mobile-menu-button sl-icon-button::part(base):active{
        font-size: 30px;
    }

    /* page links container */
    .page-links-container{
        display: none;
    }
    
    .page-links-container.mobile{
        position: fixed;
        top: 64px;
        right: 0;
        left: 0;
        padding: 0 0 24px 0;
        flex-direction: column;
        width: 100vw;
        background-color: var(--cards);
        align-items: flex-start;
        z-index: 1000;
        box-sizing: border-box;
    }

    .page-links-container.mobile a{
        font-size: var(--sl-font-size-medium);
        margin-left: 2%;
        
    }

    .page-links-container.mobile svg{
        width: 24px;
        height: 24px;
    }

    .page-links-container.mobile sl-divider{
        width: 100%;
    }
}

@media screen and (max-width: 425px){
    html{
        font-size: 14px;
    }

    .page-links-container a{
        font-size: 1rem;
    }

    #company-label{
        font-size: 1rem;
    }

    footer a{
        font-size: 0.8rem;
    }

}


