/*  =================================
    Genome Viewer / viewer.css 
    ================================= */


#content-viewer{
    padding: 0px 24px 40px;
    display: flex;
    flex-direction: column;
}

#viewer-main-content{
    flex-direction: row;
}

#viewer-main-content aside{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: fit-content;
    background-color: var(--cards);
    padding: 16px;
    border-radius: 24px;
    gap: 6px;
    box-sizing: border-box;
}

#viewer-main{
    gap: 1%;
}
#genome-container{
    width: 100%;

}

#genome{
    width: 100%;

}

#genome-title{
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

