/*  =================================
    Genome Viewer / viewer.css 
    ================================= */


#content-viewer{
    padding: 0px 24px 40px;
    display: flex;
    flex-direction: column;
}

#viewer-main-content{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 40px;
    
}