/*  =================================
    Genome Viewer / viewer.css 
    ================================= */


#content-viewer{
    padding: 0px 24px 40px;
    display: flex;
    flex-direction: column;
}

#viewer-main-content{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 40px;
    
}

#viewer-main-content aside{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: fit-content;
    background-color: var(--cards);
    padding: 16px;
    border-radius: 24px;
    gap: 6px;
    box-sizing: border-box;
}
