{% extends "index.html" %}

{% block title %}Data Overview{% endblock %}

{% block content %}
<div id="content-overview">
    
    <div class="page-header">
        <h1>Data Overview</h1>
    </div>
    

    <div class="side-by-side-content">

        <div id="toc-container" class="toc">

            <ul>
                <li>
                    <a href="#introduction">Introduction</a>
                </li>
                
                <li>
                    <a href="#dataProcessing">Data Processing</a>
                </li>
                
                <li>
                    <a href="#datasetDistribution">Dataset Distribution</a>
                </li>
                
                <li>
                    <a href="#datasets">Datasets</a>
                </li>
            </ul>
        </div>

        <div id="overview-main-content">
            <section id="introduction">
                <h2>Introduction</h2>
                <p>
                    This page provides an overview about the datasets, which can be interactively explored with the PhageExpressionAtlas. 
                    <br><br>
                    The following sections cover all the information about the backend of the PhageExpressionAtlas: Where does the data come from? How is the data processed and stored? How are phages and hosts represented across the available datasets? 
                </p>
            </section>
            

            

            <section id="dataProcessing">
                <h2>Data Processing</h2>

                <!-- : adjust pipeline name in the end  -->
                <p> 
                    The PhageExpressionAtlas currently hosts and visualizes time-resolved dual RNA-seq datasets that are publicly available. Time-resolved dual RNA-seq profiles the transcriptomes of a phage infecting its bacterial host over the time-course of infection. This offers insights into phage-host interactions on the transcriptional level such as anti-viral defense by the host or host takeover strategies employed by the phage.

                    Prior to visualization, all datasets are processed with our custom Nextflow pipeline to ensure consistent and uniform processing of dual RNA-seq data.
                    The pipeline is shown in the following <a href="#nextflow-pipeline">figure</a>. 
                </p>

                <figure id="nextflow-pipeline">
                    <img src="static/assets/Pipeline_new.png" alt="Nextflow Pipeline">
                </figure>

                <p>
                    The dual RNA-seq data from a distinct phage infection, mostly time-resolved datasets, as well as the reference host and phage genomes serve as input for the Nextflow pipeline.
                    Subsequently, data is parsed for quality control and adapter trimming by cutadapt, followed by check of adapter removal. The processed read ﬁles are then be mapped to the dual reference genomes using HISAT2.
                    Dual RNA-seq reads that mapped to host and phage genes are quantiﬁed with featureCounts, which are further processed by <i>in silico</i> rRNA depletion, outlier sample removal, read count normalization and replicate summarization.
                    Then, phage genes are classified into early, middle and late based on two possible criteria (either time point of maximum gene expression or time point when 20 % of max. expression is reached). That information is attached to the processed count data.
                </p>

                <p>The count data alongside corresponding information on the dataset, the phage and host and their corresponding genomes are stored in an SQLite database.
                    This database consititutes a key part of the backend of the PhageExpressionAtlas and is structured as illustrated in the following <a href="#sqlite-database">figure</a>:</p>

                <figure id="sqlite-database">
                    <img src="static/assets/Database_new.png" alt="Database Structure">
                </figure>
            </section>
 

            <section id="datasetDistribution">
                <h2>Dataset Distribution</h2>

                <div id="overview-container" class="dist-container double">
                    <h3>Overview of available Phage-Host Interactions</h3>
                    <p>Which phage and host (strain) are present in which datasets? The following Sankey diagram provides an overview about the dataset constitution:</p>

                    <div class="config">
                        <sl-tooltip content="Download Plot as png">
                            <sl-icon-button id="download-sankey-button" class="download-png-button" name="camera-fill" label="Download Plot as png">   
                            </sl-icon-button>
                        </sl-tooltip>

                        <sl-tooltip content="Need help?">
                            <sl-icon-button id="download-sankey-button" 
                            class="help-button" name="question-circle-fill" href="/help#guide-overview" label="Need Help?">   
                            </sl-icon-button>
                        </sl-tooltip>
                        
                        
                        
                    </div>

                    <div id="overview-sankey">
                        <div class="spinner-container">
                            <sl-spinner id="sankey-spinner" class="spinner" intermediate></sl-spinner>
                        </div>
                    </div>
                </div>


                <div id="phages-container">
                    <div id="dist-phage-type-container" class="dist-container">
                        <h3>Proportional Distribution of Phage Lifestyles</h3>
                        <p>Chart illustrating the phage types represented in the PhageExpressionAtlas</p>
                        

                        <div class="config">
                            <sl-tooltip content="Download Plot as png">
                                <sl-icon-button id="download-phagetype-chart-button"
                                class="download-png-button" name="camera-fill" label="Download Plot as Png"></sl-icon-button>
                            </sl-tooltip>

                            <sl-tooltip content="Need help?">
                                <sl-icon-button 
                                class="help-button" name="question-circle-fill" href="/help#guide-overview" label="Need Help?">   
                                </sl-icon-button>
                            </sl-tooltip>
    
                        </div>

                        <div id="dist-phage-type"></div>
                    </div>
                
                    <div id="dist-phages-container" class="dist-container">
                        <h3>Proportional Distribution of Phages across all Datasets</h3>
                        <p>Chart illustrating the abundances of bacteriophages in the datasets available in the PhageExpressionAtlas</p>
                        
                        <div class="config">
                            <sl-tooltip content="Download Plot as png">
                                <sl-icon-button id="download-phages-chart-button" class="download-png-button" name="camera-fill" label="Download Plot as png"></sl-icon-button>
                            </sl-tooltip>

                            <sl-tooltip content="Need help?">
                                <sl-icon-button 
                                class="help-button" name="question-circle-fill" href="/help#guide-overview" label="Need Help?">   
                                </sl-icon-button>
                            </sl-tooltip>
                        </div>

                        <div id="dist-phages"></div>
                    </div>
                </div>
               
            
                <div id="dist-hosts-container" class="dist-container double">
                    <h3>Proportional Distribution of Hosts across all Datasets</h3>
                    <p>Chart illustrating the proportions of the diverse host species and associated host strains represented in the PhageExpressionAtlas</p>

                    <div id="dist-hosts"></div>
                </div>
                
                

            </section>

            <section id="datasets">
                <h2>Datasets</h2>    
                <p>
                    The datasets hosted and visualized in the PhageExpressionAtlas are collected from various publicly available dual RNA-seq studies of phage infections. As of today, the PhageExpressionAtlas consists of datasets from <span id="nr-researchers" class="bold">-</span> different studies. 
                </p>

                <p>
                    Explore the data available in the PhageExpressionAtlas in the table below.
                </p>

                <!-- Data Table -->

                <div class="spinner-container">
                    <sl-spinner id="data-table-spinner" class="spinner" intermediate></sl-spinner>
                </div>
                
                <div id="data-table-container">

                    <div class="config-options-container" id="table-config-container">
                        
                        <div id="filter-container">
                            <sl-input id="filter-search" placeholder="Search..." type="text" size="small" clearable> 
                                     <sl-icon slot="prefix" name="search"> </sl-icon>
                            </sl-input>

                            <div id="filter-fields">

                                

                                <sl-select id="filter-col-select" size="small" placeholder="Select Column">
                                </sl-select>
                        
                                <sl-select id="filter-value-select" size="small" placeholder="Select Value">
                                </sl-select>
                        
                                <sl-button id="filter-clear" size="small">
                                    <sl-icon slot="prefix" name="x-octagon"></sl-icon>
                                    Clear Filter
                                </sl-button>
                            </div>

                            <sl-tooltip content="Open Filter" id="filter-tooltip">
                                <sl-icon-button id="filter-button" name="funnel-fill" label="Filter"></sl-icon-button>
                            </sl-tooltip>
                
                        </div>

                        <sl-tooltip content="Download Table">
                            <sl-icon-button id="download-table-button" class="download-icon-button" name="download" label="Download Table"></sl-icon-button>
                        </sl-tooltip>

                        <sl-tooltip content="Need help?">
                            <sl-icon-button name="question-circle-fill" href="/help#guide-overview" label="Need Help?">   
                            </sl-icon-button>
                        </sl-tooltip>


                    </div>

                
                
                    <div id="data-table"></div>

                    

                </div>

            </section>

        </div>


    </div>

</div>







{% endblock %}