{% extends "index.html" %}

{% block title %}Help{% endblock %}

{% block content %}
<div id="content-help">

    <div class="page-header">
        <h1>Help & Information</h1>
    </div>

    
    <div id="help-main-content" class="main-content">
        <!-- <div class="double-range-container">
            <div class="slider">
                <input id="left-slider" type="range" value="70" min="0" max="100">
                <input id="right-slider" type="range" value="100" min="0" max="100">
            </div>
            <div class="form-control-container">
                <sl-input id="min-input-field" label="Lowest Variance" type="number" max="100" min="0" value="70" class="number-input-field-slider" size="small"></sl-input>
                <sl-input id="max-input-field" label="Highest Variance" type="number" max="100" min="0" value="100" class="number-input-field-slider" size="small"></sl-input>
                
            </div>
        </div> -->
    
    </div>



</div>

{% endblock %}
